# install4j response file for OWASP Zed Attack Proxy 2.12.0
cfu.checkAddOnUpdates$Boolean=true
cfu.checkForUpdates$Boolean=true
cfu.downloadNewRelease$Boolean=false
cfu.installAddonUpdates$Boolean=false
cfu.installScannerRules$Boolean=false
cfu.reportAlphaAddons$Boolean=false
cfu.reportBetaAddons$Boolean=false
cfu.reportReleaseAddons$Boolean=false
createDesktopLinkAction$Boolean=true
installationType$Integer=1
sys.adminRights$Boolean=true
sys.adminRightsUiRootUnix$Boolean=true
sys.installationDir={{ zaproxy__install_dir }}
sys.languageId=en
sys.programGroupDisabled$Boolean=false
sys.symlinkDir={{ zaproxy__install_symlink_dir }}
