set_var EASYRSA_REQ_COUNTRY    "US"
set_var EASYRSA_REQ_PROVINCE   "Pennsylvania"
set_var EASYRSA_REQ_CITY       "Pittsburgh"
set_var EASYRSA_REQ_ORG        "Matthew Mackey"
set_var EASYRSA_REQ_EMAIL      "matthew.mackey.dev@gmail.com"
set_var EASYRSA_REQ_OU         "Hacking"
set_var EASYRSA_ALGO           "ec"
set_var EASYRSA_DIGEST         "sha512"
